:root {
        --vp-c-brand-1: #4cb8f3;

        --vp-home-hero-name-color: transparent;
        --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #e0a149, #4cb8f3);
        --vp-home-hero-image-background-image: linear-gradient(-45deg, #e0a149 50%, #4cb8f3 50%);
        --vp-home-hero-image-filter: blur(44px);

        /* 自定义不同类型徽标的背景色 */
        --vp-badge-info-border: transparent;
        --vp-badge-info-text: oklch(44.8% 0.119 151.328);
        --vp-badge-info-bg: oklch(96.2% 0.044 156.743);

        --vp-badge-tip-border: transparent;
        --vp-badge-tip-text: oklch(42.4% 0.199 265.638);
        --vp-badge-tip-bg: oklch(93.2% 0.032 255.585);

        --vp-badge-warning-border: transparent;
        --vp-badge-warning-text: oklch(47.6% 0.114 61.907);
        --vp-badge-warning-bg: oklch(97.3% 0.071 103.193);

        --vp-badge-danger-border: transparent;
        --vp-badge-danger-text: oklch(44.4% 0.177 26.899);
        --vp-badge-danger-bg: oklch(93.6% 0.032 17.717);
}

.VPImage.logo {
        border-radius: 8px;
}

.medium-zoom-overlay,
.medium-zoom-image--opened {
        z-index: 999;
}